@font-face {
  font-family: 'TUIType';
  src: url('~assets/fonts/TUITypeLt_LATN_W_Rg.eot');
  src: url('~assets/fonts/TUITypeLt_LATN_W_Rg.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/TUITypeLt_LATN_W_Rg.woff2') format('woff2'),
    url('~assets/fonts/TUITypeLt_LATN_W_Rg.woff') format('woff'),
    url('~assets/fonts/TUITypeLt_LATN_W_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
